.tpCard {
    margin: auto;
    margin-top: 1cm;
    min-height: 10cm;
    z-index: 1;
    width: 60%;
    border: gray solid 1px;
}

.tpCard1 {
    margin: auto;
    margin-top: -1cm;
    margin-bottom: 1cm;
    min-height: 20cm;
    width: 60%;
    border: gray solid 1px;
}

.crdImg {
    width: 4cm;
    height: 4cm;
    margin-left: 30px;
    margin-top: 1.6cm;
}

.crhmCT {
    margin-left: 5cm;
    margin-top: -5cm;
}

.crhmBT {
    margin-left: 5cm;
    margin-top: 4cm;
}

.CoHoCollaps {
    margin: auto;
    width: 60%;
}

.topCard {
    min-width: 31cm;
}

.footer1 {
    clear: both;
}

.TextDescription {
    margin-top: 1cm;
    text-align: left;
    border: solid rgb(189, 188, 188) 0.6px;
    background-color: rgb(248, 243, 243);
    padding: 1cm;
}

.TextWhatLearn {
    margin-top: 1cm;
    text-align: left;
    margin-left: 1cm;
}

.H2Heading {
    margin-top: 1cm;
    margin-left: 1cm;
}

.ContentsHeading {
    margin-left: 21%;
    margin-top: 1cm;
}

.SmallDesc {
    position: absolute;
    margin-top: 0cm;
    margin-left: 5cm;
}

.ShareButton {
    position: absolute;
    margin: auto;
    margin-left: 40%;
    margin-top: 1.5cm;
}

.WishlistButton {
    position: absolute;
    margin: auto;
    margin-left: 40%;
}

.PrereqText {
    margin-top: 1cm;
    text-align: left;
    margin-left: 1.3cm;
}

.CRHMvidPlayer {
    position: absolute;
    max-width: 5cm;
    max-height: 5cm;
    margin: auto;
    box-shadow: black 1px 0.7px 15px;
}

.CRHMVidPlayerDiv {
    max-width: 25cm;
    max-height: 15cm;
}

.TextSuitableFor {
    margin-top: 40px;
}
