.step2{
    margin-left: 9cm;
    width: 50%;
    text-align: center;

}

.labelstep2{
    margin-top: 1cm;
}

.step3{
    margin-left: 12cm;
    margin-top: 1cm;
    text-align: center;

}
.labelstep3{
    margin-right: 12cm;
}

.createdropdown {
    width: 10cm;
    margin-left: 1.3cm;
    margin-top: 5px;
}

.step4{
    width: 50%;
    margin-left: 9cm;
    text-align: center;
}

.labelstep4{
    margin-top: 1cm;
}
._3CDiP,
._2RWmX {
    left: 0;
    bottom: 0;
    text-align: center;
    margin-left: 1cm;
    margin-bottom: 1cm;
    width: 4cm;
}

._hsN1w {
    left: 0;
    bottom: 0;
    text-align: center;
    margin-left: 43cm;
    margin-bottom: 1cm;
    width: 4cm;
}

hr.rounded {
    position: relative;
}

.line {
    position: absolute;
}

.buttonexit {
    margin-left: 47cm;
    margin-top: 20px;
    width: 3cm;
}


.institle {
    margin-left: 16cm;
    font-size: xx-large;
}

.uploadcard {
    margin-left: 4.37cm;
    margin-top: 0.3cm;
    min-height: 15cm;
}

