.subform {
    padding-left: 5cm;
    padding-top: 2cm;
    max-width: 35cm;
}

.profiletab ul > li > :hover {
    background-color: pink;
}

.ProfilePic{
    position: absolute;
    margin-left: 1cm;
    margin-top: 2cm;
}

.ProfileImageInputButton{
    position: absolute;
    margin-top: 4cm;
    margin-left: 7px;
    max-width: 2.3cm;
}

.ProfileImageSubmitButton{
    position: absolute;
    margin-top: 5cm;
}