* {
    margin: 0;
    padding: 0;
}
.app {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.app_header {
    flex: 1;
}
.app_footer {
    flex: 1;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 1cm;
}
.main_sidebar {
    width: 15%;
}
.main_content {
    width: 85%;
}

.header{
    box-shadow:black 1px 0.8px 7px;
}

.footer{
    box-shadow: black 1px 0.7px 15px;
    text-align: center;
    margin-top: 2cm;

}
 