* {
    margin: 0;
    padding: 0;
}
.app {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.app_header {
    flex: 1;
}
.app_footer {
    flex: 1;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 1cm;
    max-width: 90%;
    margin-left: 4%;
}
.main_sidebar {
    width: 15%;
}
.main_content {
    width: 85%;
}

.header {
    box-shadow: black 1px 2px 7px;
}

.footer {
    box-shadow: black 1px 0.7px 15px;
    text-align: center;
    margin-top: 2cm;
}

.logoutbutton {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.profiletab {
    margin-top: 5px;
}

.subscriberheader,
.authorheader {
    box-shadow: black 1px 0.8px 7px;
}









.carousel-demo .product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
    max-width: 50%;
}

.carousel-demo .product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    max-width: 50%;

}
           